/*Main body and other element styling*/

body {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color:hsl(233, 47%, 7%);
    font-size: 15px;
}

p {
    color: #979797;
}

/*Main container styling*/

#main-container {
    background-color: #1B1937;
    width: 327px;
    height: auto;
    border: solid 1px;
    border-color: black;
    border-radius: 8px;
}

img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    filter: opacity(0.3) drop-shadow(0 0 0 #AB5CDB) contrast(1.2) brightness(0.8) saturate(2.5);
}

/*Header section styling*/

.main-header h1 {
    text-align: center;
    margin-top: 30px;
    color: #FFFFFF;
    font-family: "Inter", "Times New Roman";
    padding: 0px 30px 0px 30px;
    font-size: 26px;
    line-height: 1.2;
}

.insights-color {
    color: hsl(277, 64%, 61%);
}

/*Paragraph section styling*/

.paragraph-text {
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
    font-family: "Inter", "Times New Roman";
    font-size: 15px;
    padding: 0px 30px 0px 30px;
}

/*Figures section styling*/

.figures {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    font-family: "Lexend Deca", "Times New Roman";
    font-size: 15px;
}

.figures div {
    margin-bottom: 35px;
}

.figures h1 {
    margin-bottom: 15px;
    color: #FFFFFF;
}

/*Media queries styling for desktop design*/

@media only screen and (min-width: 1200px) {
    #main-container {
    width: 1110px;
    height: 446px;
    border: solid 1px;
    border-color: black;
    border-radius: 8px;
    background-color: #1B1937;
    }

    img {
    width: 50%;
    height: 446px;
    float: right;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    filter: opacity(0.3) drop-shadow(0 0 0 #AB5CDB) contrast(1.2) brightness(0.8) saturate(2.5);
    }

    .main-header {
        width: 40%;
        margin-top: 70px;
        margin-left: 40px;
    }

    .main-header h1 {
        text-align: left;
        font-size: 36px;
    }

    .paragraph-text {
        width: 38%;
        margin-left: 40px;
        margin-top: 30px;
    }

    .paragraph-text p {
        text-align: left;
        line-height: 1.6;
        color:#FFFFFF;
    }

    .figures {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .figures div {
        margin-right: 10px;
        margin-top: 25px;
    }

    .figures div h1 {
        text-align: left;
    }
}